/*
css styling for my website */


/* 
   css reset
   removes default spacing from all elements*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*
   2. base styles
   sets the basic font, text colour and page background */

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: #333333;
    background-color: #d6d6d4;
}


/* 
   images
   makes images fit inside their containers */

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* navigation
   creates the menu used to move between pages */

nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 0.5rem;
    background-color: #f2fae6;
    padding: 1rem;
}

nav a {
    color: #080c0f;
    text-decoration: none;
    font-weight: bold;
    padding: 0.6rem 1rem;
    border-radius: 0.3rem;
}


/* changes the link background when the mouse is over it */

nav a:hover {
    background-color: #1d1a0e;
    text-decoration: none;
}


/* adds an outline when the link is selected */

nav a:focus {
    outline: 2px solid rgb(129, 70, 70);
    outline-offset: 2px;
}


/* changes the link colour when it is clicked */

nav a:active {
    background-color: #a88a6d;
}

/* keyboard navigation
   shows a clear outline when using the tab key */
nav a:focus{
    outline: 2px solid #1F4E79;
    outline-offset: 2px;
}


