/*
css styling for my website */


/* 
   css reset
   removes default spacing from all elements*/

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


/*
   2. base styles
   sets the basic font, text colour and page background */

html {
    font-size: 16px;
    scroll-behavior: smooth;
}

body {
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif, sans-serif;
    font-size: 1rem;
    line-height: 1.6;
    color: #333333;
    background-color: #d6d6d4;
}


/* 
   images
   makes images fit inside their containers */

img {
    max-width: 100%;
    height: auto;
    display: block;
}


/* header
   styles the top part of the website
 */

